<!DOCTYPE html>
<html lang="id">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Content Management</title>
        <!-- CSS -->
        <link
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous"
        />
        <link href="<%= url %>assets/style.css" rel="stylesheet" />
        <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
            rel="stylesheet"
        />
        <link
            href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css"
            rel="stylesheet"
        />
        <link
            rel="icon"
            type="image/x-icon"
            href="<%= url %>assets/img/icon.png"
        />
        <!-- JS -->
        <script
            src="https://code.jquery.com/jquery-3.5.1.min.js"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"
        ></script>
        <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
        <script>
            $(window).on("load", function () {
                $("#loading").hide();
            });
        </script>
    </head>

    <body>
        <div id="loading">
            <img
                id="loading-image"
                src="<%= url %>assets/img/icon.png"
                alt="Loading..."
                width="192px"
            />
        </div>

        <%- include('partial/navbar.ejs') %>

        <section class="mt-4 pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="<%= url %>app">Home</a>
                                </li>
                                <li
                                    class="breadcrumb-item active"
                                    aria-current="page"
                                >
                                    Profil
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <form action="<%= url %>app/profil/update" method="post">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="">Email</label>
                                <input
                                    type="text"
                                    name="email"
                                    id="email"
                                    class="form-control"
                                    readonly
                                    value="<%= userEmail %>"
                                />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="">Nama</label>
                                <input
                                    type="text"
                                    name="nama"
                                    id="nama"
                                    class="form-control"
                                    required
                                    value="<%= userName %>"
                                />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="">Password Baru</label>
                                <input
                                    type="password"
                                    name="password"
                                    id="password"
                                    class="form-control"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary">
                                Update Profil
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </body>
</html>
